<!DOCTYPE html>
<html>

<head>
    <title>Mapa de Nidos</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        div.background {
            border: 1px solid white;
            height: 100%;
            width: 100%;
            margin: auto;
            padding: 120px;
        }
        /* Below piece of code makes  the highlitened box*/
        
        div.err {
            margin: 100px;
            background-color: #ffffff;
            /* Used for colouring the transition box*/
            border: 1px solid white;
            opacity: 0.6;
            /*Used to specify opacity*/
            padding-top: 50px;
            padding-bottom: 50px
        }
        
        div.err p {
            margin: 2%;
            font-weight: bold;
            color: #000000;
            padding: 90px;
        }

    </style>
</head>

<body>

    <div class="background">
        <div class="err">
            <h2 style="text-align: center;">
                <th:block th:text="${#strings.toLowerCase(status)}">404</th:block>
                <th:block th:text="${#strings.toLowerCase(error)}">No encontrado</th:block>.
                <th:block th:text="${#strings.toLowerCase(message)}">Mensaje de error algo m&aacute;s descriptivo</th:block>.
            </h2>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
