<!DOCTYPE HTML>
<html>

<head>
    <title>Lista Gimnasios</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
</head>

<body>

    <div class="container">
        <div class="navbar">
            <div class="row equal">
                <div class="col-md-8 col-xs-12 col-md-offset-2">
                    <h2>Lista Gimnasios</h2>
                </div>
            </div>
        </div>
        <div class="row" th:each="gym : ${gyms}">
            <div class="col-xs-4">
                <img src="../static/assets/nopic.jpg" th:src="${gym.photoUrl}" class="img-responsive" />
            </div>
            <div class="col-xs-6">
                <input class="col-xs-8" th:id="${gym.id}" th:value="${gym.name}" type="text" />
            </div>
            <div class="col-xs-2">
                <button th:onclick="'cambio(\'' + ${gym.id} + '\');'">Renombrar</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        function cambio(gid) {
            var nm = $('#' + gid).val();
            $.ajax({
                url: '/api/gym/' + gid + '?nombre=' + nm,
                dataType: 'JSON',
                type: 'PUT',
                contentType: 'application/json',
                success: function(data) {
                    if (data.status != 'ok') {
                        console.error(data);
                    }
                },
                error: function(err) {
                    console.error(err);
                }
            });
        }

    </script>
</body>

</html>
