<!doctype html>
<html lang="es">

<head>
    <title>Inicio de Sesión</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <form class="form-signin" method="post" th:action="@{/login}">
            <h2 class="form-signin-heading">Inicio de Sesión</h2>
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span th:text="${error}">Mensaje de Error</span>
            </div>
            <div class="alert alert-success" role="alert" th:if="${success}">
                <span th:text="${success}">Cuenta creada exitosamente, prueba de ingresar!</span>
            </div>
            <label for="inputEmail" class="sr-only">Nickname</label>
            <input type="text" id="inputEmail" class="form-control" name="nickname" placeholder="Nickname" required="required" autofocus="autofocus" />
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="required" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" /> Recordarme
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            <a class="btn btn-info btn-block" type="submit" href="#" th:href="@{/signup}">Crear cuenta</a>
            <a class="btn btn-info btn-block" type="submit" href="#" th:href="@{/user/reset}">Recuperar contraseña</a>
            <a class="btn btn-success btn-block" type="submit" href="#" th:href="@{/}">Volver al mapa</a>
        </form>
    </div>
    <!-- /container -->
</body>

</html>
