<!DOCTYPE HTML>
<html>

<head>
    <title>Mapa de Nidos</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href="../static/css/map.css" th:href="@{/css/map.css}" rel="stylesheet" type="text/css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-109257573-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-109257573-1');

    </script>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}">Pokémon Go Mendoza</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                    </ul> -->
                    <!-- <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filtros<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:switchGyms();"><input type="checkbox" id="filterGyms" onclick="switchGyms()" />&nbsp;Gimnasios</a>
                                </li>
                                <li>
                                    <a href="javascript:switchExGyms();"><input type="checkbox" id="filterExGyms" onclick="switchExGyms()" />&nbsp;Gimnasios ex</a>
                                </li>
                                <li>
                                    <a href="javascript:switchPokestops();"><input type="checkbox" id="filterPokestops" onclick="switchPokestops()" />&nbsp;Pokeparadas</a>
                                </li>
                                <li>
                                    <a href="javascript:switchNestPolygons();"><input type="checkbox" id="filterNestPolygons" onclick="switchNestPolygons()" />&nbsp;Área de Nido</a>
                                </li>
                                <li>
                                    <a href="javascript:switchNestMarkers();"><input type="checkbox" id="filterNestMarker" onclick="switchNestMarkers()" />&nbsp;Marcador de Nido</a>
                                </li>
                                <li>
                                    <a href="javascript:switchS2Cells();"><input type="checkbox" id="filterS2Cell" onclick="switchS2Cells()" />&nbsp;Grupo Pase EX</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" th:if="${admin}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#nestmigration">Migraci&oacute;n</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#newnest">Cargar Nido</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#resumennidos">Compartir</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#contacto">Contacto</a></li>
                        <li><a href="#" th:href="@{/logout}" th:if="${userId}">Cerrar sesi&oacute;n</a></li>
                        <li><a href="login.html" th:href="@{/login}" th:unless="${userId}">Iniciar sesi&oacute;n</a></li>
                        <li class="dropdown" th:if="${desarrollo}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Desarrollo<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="newGym();">Agregar Gym</a></li>
                                <li><a href="como" target="_blank">Ayuda</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#nestinfo">Modal nido</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div id="map"></div>

        <div class="modal fade" id="endoflife">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Fin del servicio</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Lamentablemente, a partir del 1ro de Noviembre del 2020 esta página dejará de estar disponible de forma permanente.</p>
                                <p>Para cualquier consulta se puede utilizar el formulario de contacto. (En PC en el menú superior, en dispositivos móviles en el menú lateral)</p>
                                <p>¡Gracias por haber colaborado con esta comunidad!</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" aria-label="Close" onclick="hideEndOfLifePopup()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="resumennidos">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Resumen de nidos para copiar y pegar</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="resumennidos_sinformato">Sin formato</label>
                                    <textarea id="resumennidos_sinformato" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="resumennidos_conformato">Formato WhatsApp</label>
                                    <textarea id="resumennidos_conformato" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12" id="copymsg" style="display: none">
                                <div class="alert alert-success" id="copymsg_alert">
                                    Mensaje de éxito
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="nestmigration" th:if="${admin}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Notificaci&oacute;n de Migraci&oacute;n de Nidos</h4>
                    </div>
                    <form id="nestmigrationreport">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="migrationhour">Hora <small>(24 hrs)</small></label>
                                        <input type="number" class="form-control" autocomplete="off" required="required" id="migrationhour" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="migrationmin">Minutos</label>
                                        <input type="number" class="form-control" autocomplete="off" required="required" id="migrationmin" />
                                    </div>
                                </div>
                                <div class="col-xs-12" id="migerr" style="display: none;">
                                    <div class="alert alert-warning" id="migerrmsg">
                                        Mensaje de error
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Enviar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newnest" th:if="${admin}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Cargar nuevo nido</h4>
                    </div>
                    <form id="newnestreport">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exinvitationhour">Nombre</label>
                                        <input type="text" class="form-control" autocomplete="off" required="required" id="newnastname" />
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="newnestgeojson">GeoJSON</label>
                                        <textarea class="form-control" rows="5" required="required" id="newnestgeojson"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12" id="newnesterr" style="display: none;">
                                    <div class="alert alert-warning" id="newnesterrmsg">
                                        Mensaje de error
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Enviar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="contacto">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Contacto</h4>
                    </div>
                    <form id="contactoform">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="contactomail">Correo electr&oacute;nico</label>
                                        <input type="email" class="form-control" autocomplete="off" required="required" id="contactomail" />
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="contactoasunto">Asunto</label>
                                        <input type="text" class="form-control" autocomplete="off" required="required" id="contactoasunto" />
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="contactotexto">Asunto</label>
                                        <textarea class="form-control" required="required" id="contactotexto" cols="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12" id="contactoerr" style="display: none;">
                                    <div class="alert alert-warning" id="contactoerrmsg">
                                        Mensaje de error
                                    </div>
                                </div>
                                <div class="col-xs-12" id="contactook" style="display: none;">
                                    <div class="alert alert-success">
                                        Mensaje enviado exitosamente.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Enviar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="gyminfo" role="form">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Información de Gimnasio</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 pull-right">
                                <h3 id="gyminfo_titulo">Gimnasio sin nombre</h3>
                                <div class="row" id="reportraidcontainer">
                                    <div class="col-xs-12">
                                        <h4>Puntos para Pase EX</h4>
                                        <div class="progress" id="raidprogress">
                                        </div>
                                    </div>
                                    <form id="reportraid" th:if="${reporte}">
                                        <input type="hidden" id="gymId" />
                                        <input type="hidden" name="userId" th:value="${userId}" />
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="raidLevel">Nivel del Raid</label>
                                                <div class="form-group">
                                                    <select class="form-control" id="raidLevel">
                                                        <option value="5">5</option>
                                                        <option value="4">4</option>
                                                        <option value="3">3</option>
                                                        <option value="2">2</option>
                                                        <option value="1">1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="raidPlayers">N&uacute;mero de jugadores</label>
                                                <input type="number" class="form-control" autocomplete="off" id="raidPlayers" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary pull-right" value="Notificar" style="margin-left: 5px; margin-bottom: 10px;" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <img src="../static/assets/nopic.jpg" th:src="@{/assets/nopic.jpg}" id="gyminfo_pic" class="img-responsive" />
                            </div>
                            <div class="col-xs-12" id="gymerr">
                                <div class="alert alert-warning" id="alertgym" style="margin-top: 10px; margin-bottom: 0px;">
                                    Mensaje de error
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="gyminfofooter">
                        <a id="gymUrl" class="btn btn-info pull-left" href="#" target="_blank" role="button">Historial</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="nestinfo" role="form">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Información de nido</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 id="nestinfo_titulo">Nido sin nombre</h3>
                            </div>
                            <div class="col-xs-12" id="nestnotupdated">
                                <div class="alert alert-warning">
                                    Hubo una migraci&oacute;n recientemente y no se ha actualizado este nido. Probablemente otro Pok&eacute;mon ronde esta zona, compru&eacute;balo y sube tu reporte!
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8 pull-right">
                                <p><span id="nestnro">1 - </span><strong id="nestpkm">Bulbasaur</strong><small>, reportado el <span id="nestlast"></span></small> por <strong id="nestuser"></strong></p>
                                <p><strong>Avistamientos:</strong> Entre <strong id="minsightingsview">1</strong> y <strong id="maxsightingsview">5</strong> por hora</p>
                                <div class="row" th:if="${reporte}">
                                    <form id="reportnest">
                                        <input type="hidden" id="nestId" />
                                        <input type="hidden" id="userId" name="userId" th:value="${userId}" />
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="innestpokemon">Pokémon</label>
                                                <select class="form-control select2-container" id="innestpokemon" style="width: 100%">
                                                    <option value="0">Sin reportar</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Avistamientos por hora</label>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="minsightings" class="control-label">M&iacute;nimo:</label>
                                                            <select class="form-control" id="minsightings">
                                                                <option value="-1">Sin informaci&oacute;n</option>
                                                                <option value="0">A veces ninguno</option>
                                                                <option value="1">1 a 3</option>
                                                                <option value="2">4 a 6</option>
                                                                <option value="3">7 a 9</option>
                                                                <option value="4">M&aacute;s de 9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="maxsightings" class="control-label">M&aacute;ximo:</label>
                                                            <select class="form-control" id="maxsightings">
                                                                <option value="-1">Sin informaci&oacute;n</option>
                                                                <option value="1">Al menos 1</option>
                                                                <option value="2">1 a 3</option>
                                                                <option value="3">4 a 6</option>
                                                                <option value="4">6 a 9</option>
                                                                <option value="5">M&aacute;s de 9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary pull-right" value="Notificar" style="margin-left: 5px;" />
                                                <button type="button" class="btn btn-danger pull-right" onclick="$('#alert-report').show();" style="margin-left: 5px;">Denunciar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <img src="../static/assets/nopic.jpg" th:src="@{/assets/nopic.jpg}" id="nestpkm_pic" class="img-responsive" />
                            </div>
                            <div class="col-xs-12" th:unless="${userId}">
                                <div class="alert alert-info">
                                    Ahora puedes crear una cuenta para reportar los nidos.
                                </div>
                                <a href="login.html" th:href="@{/login}" class="btn btn-primary pull-right" style="margin-left: 5px;">Iniciar sesi&oacute;n</a>
                                <a href="signup.html" th:href="@{/signup}" class="btn btn-primary pull-right" style="margin-left: 5px;">Crear cuenta</a>
                            </div>
                            <div class="col-xs-12" id="alert-report" style="display: none;">
                                <div class="alert alert-danger" style="margin-top: 10px; margin-bottom: 0px;">
                                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                        <p>¿Est&aacute; seguro que desea denunciar un reporte inapropiado del nido?</p>
                                        <button type="button" class="btn btn-danger pull-right" style="margin-left: 5px;" id="alert-report-button">Denunciar</button>
                                        <button type="button" class="btn btn-primary pull-right" onclick="$('#alert-report').hide();">Salir</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" id="nesterr">
                                <div class="alert alert-warning" id="alertnset" style="margin-top: 10px; margin-bottom: 0px;">
                                    Mensaje de error
                                </div>
                            </div>
                            <div class="col-xs-12" id="nestrep">
                                <div class="alert alert-info" id="nestrepmsg" style="margin-top: 10px; margin-bottom: 0px;">
                                    Mensaje de exito
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a id="nestUrl" class="btn btn-info pull-left" href="#" target="_blank" role="button">Historial</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpCGXcStXf64sQt0XSDjFuGnlNplH8m6g"></script>
    <script src="../static/js/general.js" th:src="@{js/general.js}"></script>
    <script src="../static/js/skin-v3.js" th:src="@{js/skin-v3.js}"></script>
    <script th:if="${admin}" src="../static/js/admin.js" th:src="@{js/admin.js}"></script>
    <script src="../static/js/contacto.js" th:src="@{js/contacto.js}"></script>
    <script src="../static/js/map.js" th:src="@{js/map.js}"></script>
</body>

</html>
