<!DOCTYPE HTML>
<html>

<head>
    <title>Informaci&oacute;n de Perfil</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href="../static/css/timeline.css" th:href="@{/css/timeline.css}" rel="stylesheet" type="text/css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-109257573-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-109257573-1');

    </script>
</head>

<body>
    <div class="container">
        <div class="row" th:if="${error}">
            <div class="col-xs-12 col-md-2">
                <a href="mapa.html" th:href="@{/}" class="btn btn-primary" style="margin-top: 20px;">Volver al mapa</a>
            </div>
            <div class="col-xs-12 col-md-10">
                <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                    <span th:text="${error}">Mensaje de Error</span>
                </div>
            </div>
        </div>
        <div class="row" th:unless="${error}">
            <div class="col-xs-12 col-md-2">
                <a href="mapa.html" th:href="@{/}" class="btn btn-primary" style="margin-top: 20px;">Volver al mapa</a>
                <th:block th:if="${admin}">
                    <button th:if="${user.banned == null}" type="button" class="btn btn-danger" style="margin-top: 10px;" th:onclick="'banUser(\'' + ${user.id} + '\');'" id="btn-ban-user">Bannear</button>
                    <button th:unless="${user.banned == null}" type="button" class="btn btn-danger" style="margin-top: 10px;" id="btn-ban-user" disabled="disable">Usuario baneado</button>
                </th:block>
            </div>
            <div class="col-xs-12 col-md-10">
                <h2>Perfil de <strong th:text="${user.nickname}">Nickname</strong></h2>
                <p>Registrado el <strong th:text="${T(ar.com.fsquiroz.pogogyms.service.TimeHelper).format(user.activation, 'dd/MM/yyyy')}">01/01/2017</strong></p>
                <p><strong th:text="${reportSize}">10</strong> reportes</p>
            </div>
            <div class="col-xs-12">
                <ul class="timeline">
                    <th:block th:each="i : ${items}">
                        <li class="timeline-inverted" th:if="${i.report == true}">
                            <div class="timeline-icon btn-success">
                                <img src="../static/assets/sprites/100.png" th:src="${i.img}" style="width: 50px; height: 50px;" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title"><a href="nest.html" th:href="${i.nestUrl}" th:text="${i.nestName}">Nombre del nido</a> <small th:text="${i.pokemon}">Pok&eacute;mon</small></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Reportado: <strong th:text="${T(ar.com.fsquiroz.pogogyms.service.TimeHelper).format(i.date, 'dd/MM/yyyy HH:mm')}">xx/xx/xxxx</strong></p>
                                </div>
                            </div>
                        </li>
                        <li th:if="${i.nestMigration == true}">
                            <div class="timeline-icon btn-warning">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Migraci&oacute;n de nidos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Fecha: <strong th:text="${T(ar.com.fsquiroz.pogogyms.service.TimeHelper).format(i.date, 'dd/MM/yyyy HH:mm')}">xx/xx/xxxx</strong></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted" th:if="${i.exReport == true}">
                            <div class="timeline-icon btn-danger">
                                <i class="glyphicon glyphicon-flash"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Raid nivel <strong th:text="${i.raidLevel}">5</strong> con <strong th:text="${i.raidPlayers}">10</strong> jugadores. <small><span th:text="${i.raidPoints}">50</span> puntos EX</small></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Por: <a href="#" th:href="${i.userUrl}" th:text="${i.userNickname}">nickname</a></p>
                                    <p>Gimnasio: <a href="#" th:href="${i.gymUrl}" th:text="${i.gymName}">Nombre gimnasio</a></p>
                                    <p>Reportado: <strong th:text="${T(ar.com.fsquiroz.pogogyms.service.TimeHelper).format(i.date, 'dd/MM/yyyy HH:mm')}">xx/xx/xxxx</strong></p>
                                </div>
                            </div>
                        </li>
                        <li th:if="${i.exWave == true}">
                            <div class="timeline-icon btn-warning">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Ola de Invitaci&oacute;n Pases EX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Fecha: <strong th:text="${T(ar.com.fsquiroz.pogogyms.service.TimeHelper).format(i.date, 'dd/MM/yyyy HH:mm')}">xx/xx/xxxx</strong></p>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../static/js/general.js" th:src="@{/js/general.js}"></script>
    <script th:if="${admin}" src="../static/js/admin.js" th:src="@{/js/admin.js}"></script>
</body>

</html>
