<!doctype html>
<html lang="es">

<head>
    <title>Reperar/Cambio de contraseña</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Reperar/Cambio de contraseña</h2>
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span th:text="${error}">Mensaje de Error</span>
            </div>
            <div class="alert alert-success" role="alert" th:if="${success}">
                <span>Tu contraseña ha cambiado exitosamente!</span>
                <a class="btn btn-info btn-block" type="submit" href="#" th:href="@{/login}" style="margin-top: 10px;">Iniciar sesión</a>
            </div>
            <div th:if="${init}">
                <div class="alert alert-info" role="alert">
                    <span>Ingresa tu nueva contraseña</span>
                </div>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="required" />
                <label for="repeatePassword" class="sr-only">Repetir password</label>
                <input type="password" id="repeatePassword" class="form-control" name="rePassword" placeholder="Repetir password" required="required" />
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10px;">Enviar</button>
            </div>
            <a class="btn btn-success btn-block" type="submit" href="#" th:href="@{/}" style="margin-top: 5px;">Volver al mapa</a>
        </form>
    </div>
    <!-- /container -->
</body>

</html>
