<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>

<body>
    <h2>Bienvenid@ <span th:text="${nickname}">nickname</span>!</h2>
    <p>Bienvenid@ <strong th:text="${nickname}">nickname</strong> a la Comunidad de Pok&eacute;mon Go Mendoza. Para poder utilizar tu cuenta, debes validar tu correo electr&oacute;nico entrando al siguiente link:</p>
    <a href="#" th:href="${url}" th:text="${url}">https://pokemongomendoza.com/</a>
    <h4><i>Comunidad Pok&eacute;mon Go Mendoza</i></h4>
</body>

</html>
