<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>

<body>
    <p><strong><th:block th:if="${c.user != null}"><a th:href="'https://pokemongomendoza.com/user/' + ${c.user.id}" th:text="${c.user.nickname}">nickname</a> (<small><a th:href="'mailto:' + ${c.user.mail}" th:text="${c.user.mail}">correouno@correo.com</a></small>)</th:block><th:block th:unless="${c.user != null}" th:text="${c.email}"></th:block></strong> te ha enviado un mensaje</p>
    <h3 th:text="${c.subject}">T&iacute;tulo</h3>
    <p th:text="${c.message}">Texto</p>
    <p>--</p>
    <h4><i>Comunidad Pok&eacute;mon Go Mendoza</i></h4>
</body>

</html>
