<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>

<body>
    <p><strong><a th:href="'https://pokemongomendoza.com/user/' + ${u.id}" th:text="${u.nickname}">nickname</a></strong> (<small><a th:href="'mailto:' + ${u.mail}" th:text="${u.mail}">correouno@correo.com</a></small>) a denunciado a <strong><a th:href="'https://pokemongomendoza.com/user/' + ${npr.user.id}" th:text="${npr.user.nickname}">nickname</a></strong> (<small><a th:href="'mailto:' + ${npr.user.mail}" th:text="${npr.user.mail}">correodos@correo.com</a></small>) por reportar a <strong th:text="${npr.pokemon.name}">pokemon</strong> como Pok&eacute;mon de Nido en <strong th:text="${npr.nest.name}">Nombre del nido</strong></p>
    <h4><i>Comunidad Pok&eacute;mon Go Mendoza</i></h4>
</body>

</html>
