<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>

<body>
    <h2>Cambio de contraseña</h2>
    <p>Hola <strong th:text="${nickname}">nickname</strong>, parece que has solicitado un cambio de contraseña. Para continuar debes entrar al siguiente link:</p>
    <a href="#" th:href="${url}" th:text="${url}">https://pokemongomendoza.com/</a>
    <p>Dentro del link podr&aacute;s generar una nueva contraseña para tu cuenta.</p>
    <p><b><i>Si no has pedido un cambio de contraseña, puedes ignorar este correo.</i></b></p>
    <h4><i>Comunidad Pok&eacute;mon Go Mendoza</i></h4>
</body>

</html>
